<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PointLinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <PointLinker.Properties.Settings>
        <setting name="notMeetFormat" serializeAs="String">
          <value>The selected Excel file does not meet the requirement formatting for the Link Points!</value>
        </setting>
        <setting name="hasMoreColumn" serializeAs="String">
          <value>The selected point data include a Z coordinate for the points. 2D sketches do not support 3D points.

 Only the X and Y coordinates will be used. Do you wish to continue?         </value>
        </setting>
        <setting name="notSketch" serializeAs="String">
          <value>The currently edited object is not a sketch.

Please activate the sketch to import points.</value>
        </setting>
        <setting name="failToGetExcel" serializeAs="String">
          <value>Excel does not seem to be available!</value>
        </setting>
        <setting name="badExcelFile" serializeAs="String">
          <value>error of opening excel file!</value>
        </setting>
        <setting name="hasImport" serializeAs="String">
          <value>Selected file has been imported previously.

Are you sure you want to continue to import a new item?
          </value>
        </setting>
        <setting name="fileNotExists" serializeAs="String">
          <value>The Excel file does not exist, please resolve</value>
        </setting>
        <setting name="sketchAttSetName" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Sketch</value>
        </setting>
        <setting name="errorCaption" serializeAs="String">
          <value>Point Linker Error</value>
        </setting>
        <setting name="sketchPtAttName" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Entity_Points_ID</value>
        </setting>
        <setting name="samePtCount" serializeAs="String">
          <value>The points will be updated one by one.

The lines or spline will be re-created.</value>
        </setting>
        <setting name="difPtCount" serializeAs="String">
          <value>Some previous points may have been missed, or the previous points count is different to the new file.
Some new points may be added.
Some old points may break the link with the excel file.
The lines or spline will be re-created.</value>
        </setting>
        <setting name="errorUpdatePt" serializeAs="String">
          <value>Error when update or resolve points!</value>
        </setting>
        <setting name="sketchLineAttName" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Entity_Lines_ID</value>
        </setting>
        <setting name="sketchSLAttName" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Entity_Spline_ID</value>
        </setting>
        <setting name="findSketchEntity" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Entity*</value>
        </setting>
        <setting name="whenClose" serializeAs="String">
          <value>No points exist with some items, do you want to delete the attribute information?</value>
        </setting>
        <setting name="noUnits" serializeAs="String">
          <value>No units defined in the excel file, use default unit of document?</value>
        </setting>
        <setting name="lessPtForLines" serializeAs="String">
          <value>Lines need at least 2 points!</value>
        </setting>
        <setting name="lessPtForSpline" serializeAs="String">
          <value>Spline needs at least 2 points!</value>
        </setting>
        <setting name="generalError" serializeAs="String">
          <value>An error occurred! Please contact the provider of the add-in!</value>
        </setting>
        <setting name="messageCaption" serializeAs="String">
          <value>ADNPlugin-PointLinker</value>
        </setting>
        <setting name="capForOpenDlg" serializeAs="String">
          <value>Select Excel File</value>
        </setting>
        <setting name="filterForOpenDlg" serializeAs="String">
          <value>Excel Files|*.xls;*.xlsx</value>
        </setting>
        <setting name="upToDate" serializeAs="String">
          <value>The status of this item is up to date!</value>
        </setting>
        <setting name="attSearchLines" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Entity_Lines*</value>
        </setting>
        <setting name="attSeatchSpline" serializeAs="String">
          <value>_ADNPlugin_PointLinker_Entity_Spline*</value>
        </setting>
        <setting name="adjoiningPts" serializeAs="String">
          <value>Failed to create Line/Spline because two adjoining points were the same! </value>
        </setting>
        <setting name="failToOpenWorkbook" serializeAs="String">
          <value>Failed to open the Excel file!</value>
        </setting>
        <setting name="failToDelete" serializeAs="String">
          <value>Failed to open the sketch entities</value>
        </setting>
      </PointLinker.Properties.Settings>
    </userSettings>
</configuration>